.form-must {
	padding: 3px;
	color: #ff0000;
}

.modal {
	overflow: auto;
}

.msg-box {
	z-index: 9999;
}

.form-horizontal.tasi-form .form-group {
	border-bottom: none;
	padding-bottom: 10px;
	margin-bottom: 13px;
}

.modal-dialog {
	width: 800px;
}

.control-label {
	text-align: right;
}